<span class="value__main">{{model.value}}</span><span class="value__unit">{{unit}}</span>
<div class="value__subtitle">{{title}}</div>
<div class="value__time">{{format-date-from-now model.time}}</div>
